<nav id="sidebar-icon-links">
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="https://github.com/AntoineAndre">
      {% include svg/github.svg %}
</a>

  <a id="mail-link"
  class="icon" title="mail" aria-label="Mail"
  href="mailto:antoine.andre@femto-st.fr">
 {% include svg/mail.svg %}
  </a>

  <a id="linkedin-link"
  class="icon" title="linkedin" aria-label="linkedin"
  href="https://www.linkedin.com/in/andreantoine/">
 {% include svg/linkedinLogo.svg %}
  </a>
  
 <a id="orcid-link"
  class="icon" title="orcid" aria-label="orcid"
  href="https://orcid.org/0000-0003-3318-4769">
 {% include svg/orcid.svg %}
 </a>

  {% include custom-icon-links.html %}
</nav>
