{{ define "main" }} {{ if .Site.IsMultiLingual }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-14 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <!-- <p class="lead">{{ .Params.lead | safeHTML }}</p> -->
      <p class="lead">
        Researcher at
        <a href="https://unit.aist.go.jp/jrl-22022/en/"
          >CNRS-AIST Joint Robotics Laboratory (JRL)</a
        >
        , IRL 3218,
        <a href="https://www.aist.go.jp/"
          >National Institute of Advanced Industrial Science and Technology
          (AIST)</a
        >
      </p>
    </div>
  </div>
</section>
{{ end }} {{ end }} {{ define "sidebar-prefooter" }} {{ if eq
.Site.Language.Lang "jp" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-left">
      <div class="col-lg-9">
        <h2 class="h4">Short bio</h2>
        <ul>
          <li>2023年10月 - : AIST-CNRSロボット工学連携研究ラボ常任研究員</li>
          <li>
            2023年5月 - 2023年9月:
            AIST-CNRSロボット工学連携研究ラボのポスドク研究員
          </li>
          <li>
            2022年5月 - 2023年5月: JSPS
            AIST-CNRSロボット工学連携研究ラボの外国人特別研究員
          </li>
          <li>2021年12月 - 2022年4月 : MIS UPJVのポスドク研究員</li>
          <li>
            2018年10月 - 2021年10月 : Ph.D. student at AS2M department of
            FEMTO-ST Institute
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">研究キーワード</h2>
        <ul>
          <li>コンピュータビジョン</li>
          <li>全方位ビジョン</li>
          <li>ミクロとマクロのロボティクス</li>
          <li>３次元計測, 視覚誘導</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-left">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="blog-header">
        <h2>ニュース</h2>
      </div>
    </div>
    <div class="row justify-content-center text-left">
      <div class="col-lg-9">
        <article>
          <ul>
            <li>
              2025年2月26日:
              <a
                href="https://unit.aist.go.jp/jrl-22022/en/projects/project-call.html"
                >ANR CALL</a
              >
              プロジェクトのキックオフミーティングを実施。
              <a href="https://www.laas.fr/en/">LAAS CNRS</a>、
              <a href="https://www.lgp.enit.fr/en/index.html">LGP ENIT</a>、
              <a href="https://www.usherbrooke.ca/">シェルブルック大学</a>
              と共同で実施。
            </li>
            <li>
              2025年1月21日:
              <b
                >2025年第17回IEEE/SICE国際シンポジウム・システムインテグレーション</b
              >
              （ドイツ・ミュンヘン）に参加。「<b>Perception and Sensing III</b
              >」のセッションを座長。 論文「On the Impact of the Camera
              Field-Of-View to Direct Visual Servoing Robot Trajectories When
              Using the Photometric Gaussian Mixtures As Dense Feature」を発表。
            </li>
            <li>
              2024年11月28日:
              <a
                href="https://unit.aist.go.jp/jrl-22022/en/projects/project-antnoid.html"
                >ANR Antnoid'</a
              >
              プロジェクトのキックオフミーティングを実施。
              <a href="https://ism.univ-amu.fr/en">運動科学研究所</a>
              と共同で実施。
            </li>
            <li>
              2024年11月8日: 論文「On the Impact of the Camera Field-Of-View to
              Direct Visual Servoing Robot Trajectories When Using the
              Photometric Gaussian Mixtures As Dense Feature」が2025
              SIIでの発表に採択。
            </li>
            <li>
              2024年11月1日:
              <b>第28回フランコフォン研究の日</b>に参加。
              <a href="https://www.sciencescope.org/">Sciencescope</a>
              主催、日仏会館（東京）。
            </li>
            <li>
              2024年5月13日:
              <b>2024 IEEE国際ロボティクス・オートメーション会議</b
              >（日本・横浜）に参加。
            </li>
            <li>
              2024年3月1日: 論文「Dual-Hemispherical Photometric Visual
              Servoing」がIEEE Robotics and Automation Lettersに採択。
            </li>
            <li>
              2024年1月8日:
              <b
                >2024年第16回IEEE/SICE国際シンポジウム・システムインテグレーション</b
              >
              （ベトナム・ハロン）に参加。論文「A Study on Learned Feature Maps
              Toward Direct Visual Servoing」を発表。
            </li>
            <li>
              2023年11月15日:
              <b>第27回フランコフォン研究の日</b>に参加。
              <a href="https://www.sciencescope.org/">Sciencescope</a>
              主催、日仏会館（東京）。
            </li>
            <li>
              2023年11月29日 - 12月2日:
              <b>国際ロボット展（IREX）</b
              >に参加し、JRLと共にデモンストレーションブースを開催。
              <a href="https://youtu.be/6hKvDK1HCRI"><b>ビデオはこちら</b></a>
            </li>
            <li>
              2023年10月3日:
              CNRS代表アントワーヌ・プティの訪日時のレセプションに参加。
            </li>
            <li>
              2023年10月1日:
              <b>CNRS-AIST JRLの常勤研究員</b>として勤務開始（日本・つくば）。
            </li>
            <li>
              2023年4月12日: 論文
              <b
                >「Visual Gyroscope: Combination of Deep Learning Features and
                Direct Alignment for Panoramic Stabilization」</b
              >
              がCVPR OmniCV 2023ワークショップでの発表に採択。
            </li>
            <li>
              2023年2月3日:
              <b>第26回フランコフォン研究の日</b
              >でポスター発表（東京・日仏会館）。
            </li>
            <li>
              2023年1月18日: CNRS-AIST
              JRLのポスドク研究期間中の研究活動についてCNRSディレクター向けに発表（日本・つくば）。
            </li>
            <li>
              2022年11月21日: 論文
              <b
                >「Automating Robotic Micro-Assembly of Fluidic Chips and Single
                Fiber Compression Tests Based-on XYθ Visual Measurement With
                High-Precision Fiducial Markers」</b
              >
              がT-ASEに採択。
            </li>
            <li>
              2022年11月10日:
              <b>「ロボット工学における球面視覚：画像表現と応用」</b>
              を発表（Journée inter-GdR ISIS et Robotique - Capteurs visuels
              émergents pour la robotique, フランス・パリ）。
            </li>
            <li>
              2022年6月20日: CVPR OmniCV
              2022ワークショップ（米国・ニューオーリンズ）で
              <b
                >「Photometric Visual Gyroscope for Full-View Spherical
                Camera」</b
              >
              を発表。
            </li>
            <li>
              2022年5月8日: CNRS-AIST JRLでJSPSポスドクフェローシップを開始。
            </li>
            <li>
              2022年4月19日: 論文
              <b
                >「Pose Measurement at Small Scale by Spectral Analysis of
                Periodic Patterns」</b
              >
              がIJCVに採択。
            </li>
            <li>
              2022年4月12日: 論文
              <b
                >「Photometric Visual Gyroscope for Full-View Spherical
                Camera」</b
              >
              がCVPR OmniCV 2023ワークショップでの発表に採択。
            </li>
            <li>
              2021年10月8日: FEMTO-ST研究所（AS2M研究部門）にて博士論文を防衛。
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
{{ else }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-left">
      <div class="col-lg-9">
        <h2 class="h4">Short bio</h2>
        <ul>
          <li>Oct. 2023 - : AIST permanent researcher at CNRS-AIST JRL</li>
          <li>
            May 2023 - Sept 2023: AIST postdoctoral researcher at CNRS-AIST JRL
          </li>
          <li>
            May 2022 - May 2023 : JSPS postdoctoral fellow at CNRS-AIST JRL
          </li>
          <li>Dec. 2021 - Apr. 2022 : postdoctoral researcher at MIS UPJV</li>
          <li>
            Oct. 2018 - Oct. 2021 : Ph.D. student at AS2M department of FEMTO-ST
            Institute
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Research interests</h2>
        <ul>
          <li>Computer Vision</li>
          <li>Omnidirectional cameras</li>
          <li>Micro and Macro robotics</li>
          <li>Pose Estimation and Visual Alignment</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="blog-header">
        <h2>News</h2>
      </div>
    </div>
    <div class="row justify-content-center text-left">
      <div class="col-lg-9">
        <article>
          <ul>
            <li>
              28/02/2025: our work "UniphorM: A New Uniform Spherical Image
              Representation for Robotic Vision" has been accepted for
              publication in IEEE Transactions on Robotics
            </li>
            <li>
              26/02/2025: Kick-off meeting for the
              <a
                href="https://unit.aist.go.jp/jrl-22022/en/projects/project-call.html"
                >ANR CALL</a
              >
              project, in collaboration with the
              <a href="https://www.laas.fr/en/">LAAS CNRS</a>,
              <a href="https://www.lgp.enit.fr/en/index.html">LGP ENIT</a> and
              <a href="https://www.usherbrooke.ca/">
                Université de Sherbrooke</a
              >
            </li>
            <li>
              21/01/2025: Participated in the
              <b
                >2025 17th IEEE/SICE International Symposium on System
                Integration</b
              >, Munich, Germany. Chaired the
              <b>Perception and Sensing III</b> session. Presentation of our
              work "On the Impact of the Camera Field-Of-View to Direct Visual
              Servoing Robot Trajectories When Using the Photometric Gaussian
              Mixtures As Dense Feature".
            </li>
            <li>
              28/11/2024: Kick-off meeting for the
              <a
                href="https://unit.aist.go.jp/jrl-22022/en/projects/project-antnoid.html"
                >ANR Antnoid'</a
              >
              project, in collaboration with the
              <a href="https://ism.univ-amu.fr/en"
                >Institute of Movement Science</a
              >
              institute.
            </li>
            <li>
              08/11/2024: our work "On the Impact of the Camera Field-Of-View to
              Direct Visual Servoing Robot Trajectories When Using the
              Photometric Gaussian Mixtures As Dense Feature" has been accepted
              for presentation at the 2025 SII
            </li>
            <li>
              01/11/2024: Assisted at the
              <b>28e Journée Francophone de la Recherche</b> held by
              <a href="https://www.sciencescope.org/">Sciencescope</a> at the
              Maison Franco-Japonaise, Tokyo, Japan
            </li>
            <li>
              13/05/2024: Participated in the
              <b
                >2024 IEEE International Conference on Robotics and
                Automation</b
              >, Yokohama, Japan.
            </li>
            <li>
              01/03/2024: our work "Dual-Hemispherical Photometric Visual
              Servoing" has been accepted for publication in IEEE Robotics and
              Autonomous Letters.
            </li>
            <li>
              08/01/2024: Participated in the
              <b
                >2024 16th IEEE/SICE International Symposium on System
                Integration</b
              >, Ha Long, Vietnam. Presented the article "A Study on Learned
              Feature Maps Toward Direct Visual Servoing"
            </li>
            <li>
              15/11/2023: Assisted at the
              <b>27e Journée Francophone de la Recherche</b> held by
              <a href="https://www.sciencescope.org/">Sciencescope</a> at the
              Maison Franco-Japonaise, Tokyo, Japan
            </li>
            <li>
              29/11/2023 - 02/12/2023: Participated and held a demonstration
              stand along with JRL at the
              <b>International Robot Exhibition (IREX)</b>, see
              <a href="https://youtu.be/6hKvDK1HCRI"><b>video</b></a>
            </li>
            <li>
              03/10/2023: Participated in the reception for the venue of Antoine
              Petit (head of CNRS) in Japan
            </li>
            <li>
              01/10/2023: Started working as a
              <b>permanent researcher for CNRS-AIST JRL</b>, Tsukuba, Japan
            </li>
            <!-- <li>
              09/05/2023: Started working as a
              <b>postdoctoral researcher for CNRS-AIST JRL</b>, Tsukuba, Japan
            </li> -->
            <li>
              12/04/2023: Paper
              <b
                >Visual Gyroscope: Combination of Deep Learning Features and
                Direct Alignment for Panoramic Stabilization</b
              >
              accepted for presentation in CVPR OmniCV 2023 workshop
            </li>
            <li>
              03/02/2023: Poster presentation at the
              <b>26e Journée Francophone de la Recherche</b> held at the Maison
              Franco-Japonaise, Tokyo, Japan
            </li>
            <li>
              18/01/2023: Presentations of the research activities led during
              the postdoctoral researches at CNRS-AIST JRL for CNRS directors
              visit, Tsukuba, Japan
            </li>
            <li>
              21/11/2022: Paper
              <b
                >Automating Robotic Micro-Assembly of Fluidic Chips and Single
                Fiber Compression Tests Based-on XYθ Visual Measurement With
                High-Precision Fiducial Markers</b
              >
              accepted forpublication in T-ASE
            </li>
            <li>
              10/11/2022:
              <b
                >Vision sphérique en robotique : représentation d'image et
                applications</b
              >, Journée inter-GdR ISIS et Robotique - Capteurs visuels
              émergents pour la robotique, Paris, France
            </li>
            <li>
              20/06/2022: Workshop presentation of the article
              <b>Photometric Visual Gyroscope for Full-View Spherical Camera</b>
              at the CVPR OmniCV 2022 Workshop, New-Orleans, USA
            </li>
            <li>
              08/05/2022: Started the JSPS post-doctoral fellowship at CNRS-AIST
              JRL
            </li>
            <li>
              19/04/2022: Paper
              <b
                >Pose Measurement at Small Scale by Spectral Analysis of
                Periodic Patterns</b
              >
              accepted to be published in IJCV
            </li>
            <li>
              12/04/2022: Paper
              <b>Photometric Visual Gyroscope for Full-View Spherical Camera</b>
              accepted for presentation in CVPR OmniCV 2023 workshop
            </li>
            <li>
              08/10/2021: Defended my Ph.D. thesis at FEMTO-ST Institute, AS2M
              research department
            </li>
          </ul>
        </article>
      </div>
    </div>
  </div>

  <div class="row justify-content-left">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="blog-header">
        <h2>Contact</h2>
      </div>
    </div>
    <div class="row justify-content-center text-left">
      <div class="col-lg-9">
        <article>
          <ul>
            <b> mail: antoine.andre[at]aist.go.jp</b>
          </ul>
          <ul>
            Tsukuba Central 1, 1-1-1 Umezono, Tsukuba, Ibaraki 305-8560
          </ul>
          <table>
            <!-- <tr>
              <th>mail</th>
              <th>antoine.andre[at]aist.go.jp</th>
            </tr> -->
            <tr>
              <td>
                <img
                  src="logos/jrl-logo-no-text.svg"
                  alt="logo CNRS"
                  height="25"
                />
              </td>
              <td>
                <a href="https://unit.aist.go.jp/jrl-22022/en/"
                  >CNRS-AIST JRL (Joint Robotics Laboratory), IRL 3218</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="logos/aist_logo_en_t.svg"
                  alt="logo CNRS"
                  height="25"
                />
              </td>
              <td>
                <a href="https://www.aist.go.jp/index_en.html"
                  >National Institute of Advanced Industrial Science and
                  Technology (AIST)</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="logos/logo_cnrs_bleu.svg"
                  alt="logo CNRS"
                  height="25"
                />
              </td>
              <td>
                <a href="https://www.cnrs.fr/"
                  >Centre national de la recherche scientifique (CNRS)</a
                >
              </td>
            </tr>
          </table>
        </article>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">{{- .Content -}}</div>
  </div>
</section>
{{ end }}
